@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(90deg, rgba(00, 00, 00, 1) 0%, rgb(43, 42, 42) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 40px 20px;
    width: 40%;
}

/* ------ HEADER ------ */

.header {
    text-align: center;
    padding: 0.5rem;
}
.header span {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.header button {
    color: white;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
    padding-left: 0.5rem;
    transition: all ease 0.5s;
}
.header button:hover {
    color: rebeccapurple;
}

/* ------ INPUT CONTAINER ------ */

.new-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    min-width: 500px;
}
.new-task-container input {
    flex: 3;
    font-size: 1rem;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    padding-left: 5px;
    margin-right: 1rem;
    border: none;
}

.new-task-container input:focus {
    outline: none;
    border: 2px solid rebeccapurple;
}

.new-task-container button {
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: all ease 0.5s;
}

.new-task-container button:hover {
    color: rebeccapurple;
}


/* ------ UTILITIES ------ */
.error {
    border: 2px solid red !important;
}
.error::placeholder {
    color: red;
}